.gitignore
client/node_modules
server/node_modules
client/src/assets
client/src/public/fontawesome-free-6.5.2-web
client/README.md
client/package-lock.json
client/package.json
server/package-lock.json
server/package.json